fastapi
uvicorn
motor
pydantic
email-validator
python-dotenv
authlib
python-jose
python-multipart
httpx
redis
langchain
langchain-openai
langchain-groq
langgraph
groq
PyMuPDF
requests
python-slugify
cloudinary
pinecone
